:root {
  /*Colors*/
  --white: #FFFFFF;
  --white-gray: #FFFEFE;
  --light-gray: #BDBDBD;
  --gray: #8291A3;
  --dark-grey: #686868;
  --black: #1E2123;
  --dark-black: #000000;;
  --yellow-bg: #FFD54F;
  --yellow-color: #FEB700;
  --yellow: #FEC100;
  --green: #0DBB41;
  --light-purple: #9D94FF;
  --purple: #6B50E9;
  --dark-purple: #664EF9;
  --violet: #7B519D;
  --red: #EB5757;
}
