@import 'src/app/styles/mixins';


.breadcrumbs {
  @include flex(row, center, start);
  margin-bottom: 30px;

  &__link {
    display: block;
    @include font(400,1.4rem, 100%);
    color: #686868;
    margin-right: 14px;
    &:last-child {
      margin-right: 0;
    }

    & svg {
      width: 12px;
      height: 12px;

      & path {
        fill: var(--purple);
      }
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}


