@import 'src/app/styles/mixins';

.pagination {
  @include flex(row, center, space-around);

  &__link {
    @include font(400,1.8rem,2.2rem);
    @include flex(row, center, center);

    background: none;
    margin-right: 1.5rem;
    color: #686868;

    &:hover {
     border-bottom:  0.2rem solid #E4E2E2;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.active {
  border-bottom:  0.2rem solid var(--yellow-bg);
  color: var(--dark-black);
}
