@import 'src/app/styles/mixins';

.main {
  margin-bottom: 100px;

  &__filter {
    @include flex(column, center, center);
    height: 430px;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 40px 40px;
    background: url("../../app/assets/img/bg_1.png") var(--dark-purple) center;
    background-size: cover;
  }
}
